# api id and api hash (my.telegram.org)
# required
API_ID='7249983'
API_HASH='be8ea36c220d5e879c91ad9731686642'

# pyrogram session string (@genstr_robot)
# required
SESSION='BQBuoD8AOjswqjU7YOc9xPqVM9mXBVdPsjOYrKz_N0L5CShI-owx9sGxdtqsWXpbhd8dRisRCYnERbpkCPUzXkJi9zqk6JvzD3IjhuWUrO3oI2NBMoR7WTXH3YUlQSYYR6jwk0z469WNBIjMDGEmoaFD5THeQoHRYIkfc5oU2y8njnAcFU13BWZnKVUtWCD2QoMSjtVDszk0HvXZVdOXCAzCQhbrmDEnFi2lKTSn-l__xdvEiLH1_tV_ALkx_D7quF0YdX4CGm8mWf1y8hR8poqLMQHUYSEoML9QN0aEK8S5Uh9DVM9BirL99W0BG_T0ueGKpXaNhP8Vo3bcLLIkW0liI0yzLwAAAAFklkDwAA'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN=''

# sudo user ids (separate with space)
# optional
SUDOERS='7143123520'

# command prefix (separate with space)
# optional
PREFIX='/'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
